<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title> Error!</title>
    <link rel="stylesheet" type="text/css" href="css/404.css" />
    <script src="js/info.js"></script>
    <link rel="shortcut icon" type="image/png" href="img/favicon.png"/>


</head>

<body>
    <div class="popup-wrapper visible" id="popper">
        <div class="grey-container"></div>
        <div class="popup">
            <div class="ntav-head">
                <b>This section is not available</b>
                <br>
                <br>We are constantly working to improve your experience This page should be live in a few weeks from now.</div>
            
                <button class="ntav-btn" onclick="closelookpop('popper')">Go Back</button>
            
        </div>
    </div>

    <div class="mobile-notice">

        <script>
            if (navigator.userAgent.match(/Android/i)
                || navigator.userAgent.match(/webOS/i)
                || navigator.userAgent.match(/iPhone/i)
                || navigator.userAgent.match(/iPad/i)
                || navigator.userAgent.match(/iPod/i)
                || navigator.userAgent.match(/BlackBerry/i)
                || navigator.userAgent.match(/Windows Phone/i)) {
                document.write('<meta name="viewport" content="width=device-width, user-scalable=no" />');
            }
        </script>

        <div class="inner-mob">
            <div class="mob-head">
                <img src="img/logo.png">
                <div class="mob-right"> Home</div>
            </div>
            <div class="mo-notice-head">Sorry! This screen size is not yet supported</div>
            <div class="mo-botice-sub">You can use the web version of the same site! We will email you as soon as the mobile version goes live! Subscribe
                to stay on the loop</div>
            <div class="input-box ">
                <p class="input-label">Email Address</p>
                <input class="textI " name="iter-title" value="jtarunkrishna@gmail.com" type="text">
            </div>
            <div class="mob-submit">Subscribe</div>
        </div>


    </div>
</body>

</html>