<!doctype html>
<html>

<head>
        
    


    <title> Crash</title>
    <link rel="stylesheet" type="text/css" href="css/404.css" />
    <link rel="shortcut icon" type="image/png" href="img/favicon.png"/>

    <script src="js/info.js"></script>


</head>

    <body>
    <div class="mobile-notice">
          
          <script>
if(navigator.userAgent.match(/Android/i)
  || navigator.userAgent.match(/webOS/i)
  || navigator.userAgent.match(/iPhone/i)
  || navigator.userAgent.match(/iPad/i)
  || navigator.userAgent.match(/iPod/i)
  || navigator.userAgent.match(/BlackBerry/i)
  || navigator.userAgent.match(/Windows Phone/i)) {
    document.write('<meta name="viewport" content="width=device-width, user-scalable=no" />');
}
</script>
            </div>
        
    <div id="wrapper">
            <%- include('./header'); %>
        <div class="error-container">

            <div class="error-l-cover">
                <div class="error-cover-text">Error 404</div>
                <div class="error-cover-sub">The page you clicked might be broken or might <br> have been replaced.

                </div>
               <a href="/info"> <div class="error-cover-btn">Go Home</div></a>
                <div class="error-cover-sub error-cover-subl ">we’re still working on providing you with the best user experience <br>
                    If you find any bugs please report it to <b>hello@trift.io</b> with a screenshot of your issue.

                </div>
            </div>
        </div>
    </div>
       <div class="the-footer">
        <div id="divider"></div>
        <%- include('./footer'); %>
        <div class="mobile-notice">
          
                <script>
      if(navigator.userAgent.match(/Android/i)
        || navigator.userAgent.match(/webOS/i)
        || navigator.userAgent.match(/iPhone/i)
        || navigator.userAgent.match(/iPad/i)
        || navigator.userAgent.match(/iPod/i)
        || navigator.userAgent.match(/BlackBerry/i)
        || navigator.userAgent.match(/Windows Phone/i)) {
          document.write('<meta name="viewport" content="width=device-width, user-scalable=no" />');
      }
      </script>
                
                  <div class="inner-mob">
                      <div class="mob-head">
                      <img src="img/logo.png">
                       <div class="mob-right"> Home</div>
                      </div>
                  <div class="mo-notice-head">Sorry! This screen size is not yet supported</div>
                  <div class="mo-botice-sub">You can use the web version of the same site! We will email you as soon as the mobile version goes live! Subscribe to stay on the loop</div>
                          <div class="input-box ">
                                          <p class="input-label">Email Address</p>
                                          <input class="textI " name="iter-title" value="jtarunkrishna@gmail.com" type="text"></div>
                      <div class="mob-submit">Subscribe</div>
                  </div>
              
              
              </div>
    </div>
</body>

</html>
