<div class="the-footer">
    <div id="divider"></div>
    <div class="container">
        <div class="ft-col">
            <div class="ft-col-h">Legal</div>
           <a href="/privacy"> <div class="ft-col-l">Privacy Policy</div></a>
           <a href="/cookie"> <div class="ft-col-l">Cookies Statement</div></a>
        </div>
        <div class="ft-col">
            <div class="ft-col-h">About Us</div>
            <div class="ft-col-l">Our Mentors</div>
            <div class="ft-col-l">Contact Us</div>
        </div>
        <div class="copy-stat">
            <h>trift.inc </h> copyright reserved</div>
    </div>
</div>