<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title> Privacy Policy</title>
    <link rel="stylesheet" type="text/css" href="css/policy.css" />
    <link rel="shortcut icon" type="image/png" href="img/favicon.png"/>

    <script src="js/info.js"></script>


</head>

<body>
    <div id="wrapper">
        <%- include('./header'); %>
        <div class="privacy-header">
                <div class="policy-head">
                Privacy Policy
                </div>
            </div>
                
                <div class="container">
                    <div class="privacy-stat-container">
                    <div class="up-n">Update</div>
                        <div class="pri-stat">We’re still running on either alpha or beta version. This policy only governs portions of our final product. <b>We take your privacy very seriously and don’t share any personal information with any third party applications other than our API partners to provide you with a seamless experience.</b></div>
                    </div>
                </div>
                <div class="pri-divider"></div>
                 <div class="container">
                     
                     <div class="pri-updated"><b>Updated Last: </b>September 2018</div>
                </div>
                  <div class="pri-divider"></div>
                <div class="container">
                <div class="priv-content">It is particularly annoying to get younger kids to cooperate during travel. But it is not their fault, because at their age they are naturally more inquisitive and more active. They are not content to stay put and lounge in the beach or hotel. They want lots of actions, something that your dream beach vacation cannot satisfy. Why not change your dream relaxation vacation to a fun family holiday? Virginia travel offers two exciting and affordable theme parks for your family’s enjoyment.
        <br><br>
        These theme parks are not prohibitively-priced, meaning you can still afford to stay at nice hotels. Hotels dot the Virginian landscape, and are especially near the theme parks. After all, there is no better way to end a fun afternoon than by sleeping in a cozy room. Although these theme parks are not like Disneyland which have its own hotel, the thrill rides and sights more than suffice for this shortcoming. Paramount’s Kings Dominion and Busch Gardens Williamsburg make Virginia travel something the whole family can enjoy.
        <br><br>
        Paramount’s Kings Dominion boasts of being a water and theme park in one. It is a 400-acre affair with over 200 attractions and rides. International roller coaster fanatics troop to Kings Dominion for its 13 famous and world-class coasters. Teenagers and daring adults alike enjoy the thrilling loops and drops of these coasters. The park features Hypersonic XLC, the only American coaster that uses compressed air for launch power. Volcano Blast Coaster shoots up over a volcanic crater before diving at over 70 mph. There are also wooden coasters like the Rebel Yell and Hurler. Virginia is famous for its cinema complexes, and its theme park are not complete without movies. There are two rides that are inspired by major motion pictures. Tomb Raider Firefall engages all the senses and makes riders feel that they are part of the big Lara Croft movie or video game. Italian Job Turbo Coaster mimics the stunt chase scenes from the popular movie. Speed through the garage and the tunnels in mini Coopers and relive the film’s thrilling chase. If the younger kids are not up to yelling themselves hoarse on the coasters, the Nickelodeon Central is alive with their favorite characters. Taking pictures and playing with Dora, the Rugrats, Spongebob, Scooby, and Jimmy Neutron are definitely allowed. There are also regular kiddie games wherein toddlers get to play and meet other children. For excitement, there is a spooky mansion and the Mystery Machine. All this fun for a fraction of a beach holiday. Plus, there are also season tickets and family promos.
        <br><br>
        For around-the-world fun, Busch Gardens Williamsburg is the place to go. The park is divided into six countries: Ireland, France, Scotland, Italy, Germany, and England. Each “country” showcases the best of their cultures with excellent food, landmarks, gardens, and parks. The authentic design and feel of the “countries” are enough to make visitors feel that they are country-hopping. The Busch Gardens is also home to a couple of the planet’s best 25 roller coasters: Alpengeist and Apollo’s Chariot. Virginia travel is not complete without some animal fun. Aside from the rides, the park is also big on environmental issues. It hosts a mini-zoo and animal sanctuary where the kids can see and interact with wolves, raptors, reptiles, and all things feathered, furry, and scaly. There are also lectures about environmental preservation. The park also offers discounts by availing of special cards and family promotions. Free entrance is also awarded to families of US service men.
        <br><br>
        With these two parks, Virginia travel is fun, easy, and very affordable. It also provides great bonding time for you and your family. Now, who says vacationing with kids is a hard chore?</div>
                <div class="up-b">Click Here for Simplified Version</div>
                </div>
        <%- include('./footer'); %>
    </div>
    <div class="mobile-notice">
          
            <script>
  if(navigator.userAgent.match(/Android/i)
    || navigator.userAgent.match(/webOS/i)
    || navigator.userAgent.match(/iPhone/i)
    || navigator.userAgent.match(/iPad/i)
    || navigator.userAgent.match(/iPod/i)
    || navigator.userAgent.match(/BlackBerry/i)
    || navigator.userAgent.match(/Windows Phone/i)) {
      document.write('<meta name="viewport" content="width=device-width, user-scalable=no" />');
  }
  </script>
            
              <div class="inner-mob">
                  <div class="mob-head">
                  <img src="img/logo.PNG">
                   <div class="mob-right"> Home</div>
                  </div>
              <div class="mo-notice-head">Sorry! This screen size is not yet supported</div>
              <div class="mo-botice-sub">You can use the web version of the same site! We will email you as soon as the mobile version goes live! Subscribe to stay on the loop</div>
                      <div class="input-box ">
                                      <p class="input-label">Email Address</p>
                                      <input class="textI " name="iter-title" value="jtarunkrishna@gmail.com" type="text"></div>
                  <div class="mob-submit">Subscribe</div>
              </div>
          
          
          </div>
</body>

</html>
